/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.orange {
  width: 100%;
  height: 50px;
  background-color: rgb(238, 157, 65);
}
main {
  display: flex;
  width: 940px;
  margin: 50px auto;
}  
.title {
  font-weight: bold;
  font-size: 20px;
} 
.sentence{
  font-size: 15px;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: rgb(204, 200, 200);
  padding: 10px;
  margin-right: 30px;
}
.box1:last-child{
  margin-right: 0;
}
.box2 {
  background-color: rgb(226, 141, 61);
  position: absolute;
  color: #ffffff;
}
.picture1 {
  width: 100%;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
}
.box4 {
  background-color: rgb(226, 141, 61);
  position: absolute;
  color: #ffffff;
}
.picture2 {
  width: 100%;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
}
.box6 {
  background-color: rgb(226, 141, 61);
  position: absolute;
  color: #ffffff;
}
.picture3 {
  width: 100%;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
}
.gray {
  width: 100%;
  height: 50px;
  background-color: rgb(143, 143, 143);
}
@media screen and (max-width:768px) {
  main {
    display: block;
    width: 100%;
    margin: 50px auto;
  }  
  .box1 {
    width: 90%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }  
}
